---
title: LFI Core Report
component: ContentPage
---
div.row
  div.col-sm-4
    .container(ng-app='example', ng-controller='ExampleCtrl')
      linechart(data='data', options='options')
//div.row
  div.col-sm-4
    h3 Chart
    dl
      dt Boom
      dd Stuff
//div.row
  div.col-sm-4