@import '../variables.css';

:root {
  --brand-color: #FFFFFF;
}

.Header {
  background-image: url("/images/lanz-classic-tractor.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 400px;
}

.Header-container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.Header-brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.Header-brandTxt {
  margin-left: 10px;
}

.Header-brandImg {
  visibility: hidden;
}

.Header-nav {
  float: right;
  margin-top: 6px;
}

.Header-banner {
  text-align: center;
}

.Header-bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.Header-bannerDesc {
  color: #FFFFFF;
  padding: 0;
  font-size: 1.25em;
  margin: 0;
}

.module.parallax {
  height: 200px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
